<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="WorkIntervalInSecs" value="10"/>
  <add key="ChillIntervalInSecs" value="5"/>
  <add key="TimeFormat" value="hh\:mm\:ss"/>
</appSettings>
</configuration>